.container {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}

.box {
  width: 60%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 480px) {
    /* （スマホ用） */
    width: 80%;
  }
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-size: x-large;
}
.subtitle {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  @media screen and (max-width: 480px) {
    /* （スマホ用） */
    font-size: 14px;
  }
}

.searchArea {
  display: flex;
  width: 80%;
}

.textBox {
  display: flex;
  justify-content: center;
}
.submitButton {
  padding-left: 100px;
  margin-left: 5px;
}

.selectText {
  font-size: 14px;
  margin-bottom: 1px;
}
.checkList {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-left: 50%;
  @media screen and (max-width: 959px) {
    /* （タブレット用） */
    margin-left: 30%;
  }
  @media screen and (max-width: 480px) {
    /* (スマホ用） */
    margin-top: 10px;
    margin-left: 20%;
  }
}

.checkBox :nth-child(3) {
  @media screen and (max-width: 480px) {
    /* (スマホ用） */
    font-size: 14px;
  }
}

.description {
  margin-top: 50px;
  width: 60%;
  @media screen and (max-width: 480px) {
    /* (スマホ用） */
    margin-top: 50px;
    width: 80%;
  }
}
.text {
  font-size: 12px;
  margin-bottom: 3px;
}
